$body-bg: #0E0E15;
$body-color: rgba(255, 255, 255, 0.87);
$white: #fff;
$primary: #26005F;

// new variables
$light: #6C6E7E;
$gradient: linear-gradient(90deg, #26005F 0%, #47005F 23.69%, #6F005F 55.95%, #A5005F 85.96%, #AD005F 100%);
$gradient-dark: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90deg, #26005F 0%, #47005F 23.69%, #6F005F 55.95%, #A5005F 85.96%, #AD005F 100%);
$gradient-light: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(90deg, #26005F 0%, #47005F 23.69%, #6F005F 55.95%, #A5005F 85.96%, #AD005F 100%);

$theme-colors: (
  primary: $primary,
  secondary: #47005F,
  light: $light,
  dark: #0E0E15,
  danger: #ED1C24,
  warning: #F7931E,
  info: #004A93,
  success: #8CC63F,
  white: #fff
);

$gray-100:   #EBEDEF;
$gray-200:   #D8DBE0;
$gray-300:   #C4C9D0;
$gray-400:   #B1B7C1;
$gray-500:   #9DA5B1;
$gray-600:   #8A93A2;
$gray-700:   #768192;
$gray-800:   #636F83;
$gray-900:   #4F5D73;

// Card background
$card-bg: #23242D;
$card-border-radius: 4px;

.card-selected {
  background: $gradient !important;
  background-color: none;
  padding: 2px;
}

.card-dotted {
  border: 1px dashed $light !important;
  background-color: #292A33 !important;
}

// Input
$input-bg: #32333A !important;
$input-color: white;
$input-height: 36px;
$input-border-color:#3C3C43;

.input-group-text {
  background-color: #171821 !important;
  border-color: #171821 !important;
  color: $light !important;
}

.text-gradient {
  background: -webkit-linear-gradient(90deg, #26005F 0%, #47005F 23.69%, #6F005F 55.95%, #A5005F 85.96%, #AD005F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
  
$enable-gradients: false;

//footer
$footer-height: 5.5rem;

// Button 
$btn-padding-y: 0.375rem;
$btn-padding-x: 0.75rem;
$btn-font-size: 0.875rem;

// Close Icon
$close-font-size: 1.5rem;
$close-font-weight: 400;

@font-face {
  font-family: 'SFProDisplay';
  font-style: normal;
  font-weight: normal;
  src: local('SFProDisplay'), url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: local('Inter'), url('../fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}
// font
$font-size-base: 0.875rem;
$font-family-base: 'SFProDisplay';

// link 
$link-theme-map: (
  "link-color": #fff,
  "link-hover-color": #fff
);

// nav 
$nav-link-disabled-color: $gray-600 !default;
$nav-tabs-border-color:#2A2B36 !default;
$nav-tabs-link-hover-border-color: $light !default;
$nav-tabs-link-active-color: $white !default;
$nav-tabs-link-active-bg: $primary !default;
$nav-tabs-link-active-border-color: transparent !default;

$nav-pills-link-active-color: $white !important;
$nav-divider-color: $gray-200 !important;

$custom-checkbox-indicator-border-radius: 8px;

$header-dark-color:  rgba($gray-300, .99) !default;
$header-dark-hover-color: rgba($gray-300, .75) !default;

$header-light-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$header-dark-color}' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !default;
$header-light-toggler-hover-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$header-dark-hover-color}' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !default;